<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    
  </ion-navbar>
</ion-header>


<ion-content padding class="page1">

    <div *ngFor="let card of posts">
        <dvios-post-card [post]="card"></dvios-post-card>
    </div>
</ion-content>