<ion-card *ngIf="post">
    <img src="{{ post.image }}" />
    <ion-card-content>
        <ion-card-title>
            {{ post.title }}
        </ion-card-title>
        <p>
            {{ post.text }}
        </p>
    </ion-card-content>
</ion-card>